/* Estilos para la pantalla inicial*/
#panelLogo { 
    /*-fx-background-image: url('/Recursos/fondo2.png');*/
    -fx-background-color: BLACK;
    -fx-background-position: center center;
}
#informacion{
    -fx-background-color: black;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
}
#izquierda{
    -fx-background-color: lightslategray;
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
}
#rootCentro{
    -fx-background-color: darkslategrey;
    -fx-padding: 10;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: white;
}
#gamePane{ 
    -fx-background-image: url('/Recursos/Imagenes/cesped1.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 600;
    -fx-background-position: center center;
}
#rootEncabezado{
    -fx-background-color: GRAY;
    -fx-background-position: center center;
}
#panelsuper { 
    /*-fx-background-image: url('/Recursos/fondo2.png');*/
    -fx-background-color:GRAY;
    -fx-background-position: center center;
    -fx-background-size: 1200 100;
}
.button{
    -fx-background-color: dimgray;
    -fx-font-family: Lucida Console; 
    -fx-text-fill: white;
    -fx-text-size: 15px;    
}
.button:hover {
    -fx-border-color: yellow;
}
/* Estilo cuando se posiciona el rat�n sobre cualquier bot�n */
/* Estilo para bot�n con ID bPlay */

#bEmpezar:hover{ 
     -fx-font-size: 30px;

}
#bSalir { 
    -fx-text-fill: white; 
    
}
/* Estilo para bot�n con ID bScore */
.label{
    -fx-font-size: 30px;
    -fx-text-fill:white;
    -fx-font-family: Impact ;
}
